In [5]:
import pandas as pd

In [1]:
import psycopg2

In [13]:
try:
    conn = psycopg2.connect("dbname='juan' user='juan' host='localhost' password='aaaa4444'")
except:
    print ("I am unable to connect to the database")

In [14]:
cur = conn.cursor()

In [15]:
cur.execute("SELECT * FROM planteles_20142_20182 LIMIT 100;")

In [17]:
type(cur.fetchall())

list

In [11]:
cur.close()

In [12]:
conn.close()

In [6]:
import os

In [7]:
os.chdir('/media/juan/CA9C44FF9C44E791/Users/Juan/Desktop/dane/educacion_formal_2018')

In [8]:
file_list_2018 = [each for each in os.listdir() if each.endswith('.csv')]

In [9]:
file_list_2018

['Actividades en los que son utilizados los equipos de computo para enseñanza.csv',
 'Alumnos matriculados según tipo de población especial por jornada.csv',
 'Alumnos matrículados en básica secundaria y media según carácter y especialidad por jornada.csv',
 'Localización de las plantas físicas de las sedes educativas del sector no oficial.csv',
 'Máximo nivel educativo alcanzado por los docentes según rangos de edad por nivel educativo.csv',
 'Alumnos matriculados (desplazados del conflicto armado) según sexo por nivel educativo y jornada.csv',
 'Frecuencia de uso de los equipos de cómputo  por nivel educativo y sede educativa.csv',
 'Nivel educativo, jornada y calendario por sede educativa.csv',
 'Número de grupos en educación tradicional por nivel educativo, grado, ciclo y jornada.csv',
 'Relación sede principal y adscrita sector oficial (parte 1).csv',
 'Prestación de servicio educativo según tipo de contratación.csv',
 'Docentes escalafonados según estatuto docente.csv',
 'Docentes ocupados  en CLEI (mayor asignación académica).csv',
 'Docentes ocupados en la sede educativa según escalafón y tipo de vinculación laboral.csv',
 'Docentes ocupados según carácter por nivel educativo (educación tradicional) con mayor asignación académica.csv',
 'Alumnos matriculados con capacidades excepcionales según sexo por nivel educativo y jornada.csv',
 'Alumnos matriculados en educación tradicional y CLEI según rangos de edad por jornada.csv',
 'Alumnos matriculados en modelos educativos flexibles según rangos de edad por jornada.csv',
 'Alumnos matriculados segun grupo etnico y sexo por nivel educativo y jornada.csv',
 'Caracter de la sede educativa.csv',
 'Carácter y especialidad ofrecido por la sede educativa.csv',
 'Carátula única sede educativa.csv',
 'Tenencia y número de equipos de cómputo por sede educativa.csv',
 'Tenencia, acceso y uso de  bienes  y servicios TIC por sede educativa.csv',
 'Alumnos matriculados con algún tipo de limitación física según sexo por nivel educativo y jornada.csv',
 'Tipo de matrícula propia o contratada según nivel educativo por jornada.csv',
 'Uso de los equipos de cómputo.csv',
 'Número de grupos en  modelos educativos flexibles por jornada.csv',
 'Sedes principales.csv',
 'Situación académica al finalizar el año escolar 2017 según educación tradicional por grados, ciclos y jornada.csv',
 'Situación académica al finalizar el año escolar 2017 según otros modelos educativos por jornada.csv',
 'Intensidad horaria en CLEI y modelos educativos flexibles por jornada.csv',
 'Intensidad horaria en educación tradicional por nivel educativo y jornada.csv',
 'Personal ocupado en la sede educativa.csv',
 'Población escolar atendida en la sede educativa.csv',
 'Relación sede principal y adscrita sector oficial (parte 2).csv',
 'Sedes educativas sin conexión y acceso a internet.csv']

In [10]:
VW_MODULOI_CARATURAUNICA = pd.read_csv('Carátula única sede educativa.csv', sep=';')

In [12]:
VW_MODULOI_CARATURAUNICA.columns

Index(['SEDE_CODIGO', 'PERIODO_ID', 'PERIODO_ANIO', 'ESTADO_ID',
       'ESTADO_NOMBRE', 'NOVEDAD_ID', 'NOVEDAD_CODIGO', 'NOVEDAD_NOMBRE',
       'SEDE_NOVEDAD_OBSERVACION', 'SEDE_NOMBRE', 'SEDE_NIT', 'SEDE_DIRECCION',
       'SEDE_TELEFONO', 'SEDE_FAX', 'SEDE_EMAIL', 'SEDE_SITIOWEB',
       'ID_CLASIFICACION_MUNICIPIO', 'CODIGOINTERNODEPTO', 'DEPTO',
       'CODIGOINTERNOMUNI', 'MUNI', 'LOCALIDAD_ID', 'CODLOCALIDAD',
       'LOCALIDAD', 'INSPECCION_ID', 'CODINSPECCION', 'INSPECCION',
       'RESGUARDO_ID', 'CODRESGUARDO', 'RESGUARDO', 'AREA_ID', 'AREA_CODIGO',
       'AREA_NOMBRE', 'SEDE_COMUNIDAD_NEGRA', 'SECTOR_ID', 'SECTOR_CODIGO',
       'SECTOR_NOMBRE', 'NATURALEZA_ID', 'CODNATURALEZA', 'NATURALEZA',
       'SEDE_ACTO_NUMERO', 'SEDE_ACTO_FECHA', 'SEDE_INICIO_FECHA',
       'REGIMEN_ID', 'CODREGIMEN', 'REGIMEN', 'SEDE_TOTAL_OFRE_ANTE_JORN',
       'SEDE_TOTAL_OFRE_ANTE_NIVEL', 'SEDE_TOTAL_ABIE_ACTU_JORN',
       'SEDE_TOTAL_ABIE_ACTU_NIVEL', 'SEDE_TOTAL_CERR_ANTE_JORN',
       'SEDE_TOTAL_CERR_ANTE_NIVEL', 'SECRETARIA_ID', 'SECRETARIA_CODIGO',
       'SECRETARIA_NOMBRE', 'SUBSEDE_ID', 'SUBSEDE_CODIGO', 'SUBSEDE_NOMBRE',
       'TERRITORIAL_ID', 'TERRITORIAL_CODIGO', 'TERRITORIAL_NOMBRE',
       'SEDE_TIPO_PROCEDENCIA', 'TIPOPROCEDENCIA', 'SEDE_BILINGUE',
       'ES_BILINGUE', 'TIPOBILINGUE_ID', 'TIPOBIL_NOMBRE', 'SEDE_SEIP',
       'ES_SEIP', 'COMUNIDADNEGRA_ID', 'COMNEGR_NOMBRE',
       'SEDE_SISTEMA_ETNOEDUCATIVO', 'ES_SISTEMA_ETNOEDUCATIVO',
       'SEDE_EDUCACION_ESPECIAL', 'ES_EDUCACION_ESPECIAL'],
      dtype='object')

In [8]:
MODULOIII_DOCENTESCARA_MOD = pd.read_csv('Docentes ocupados  en CLEI (mayor asignación académica).csv', sep=';')

In [9]:
MODULOIII_DOCENTESCARA_TRA = pd.read_csv('Docentes ocupados según carácter por nivel educativo (educación tradicional) con mayor asignación académica.csv', sep=';')

In [13]:
MODULOIII_DOCENTESCARA_TRA[['SEDE_CODIGO', 'SEDEDOCA_CANTIDAD_HOMBRE', 'SEDEDOCA_CANTIDAD_MUJER']].groupby('SEDE_CODIGO').sum()

              SEDEDOCA_CANTIDAD_HOMBRE  SEDEDOCA_CANTIDAD_MUJER
SEDE_CODIGO
105001000001                         8                       25
105001000027                         0                       11
105001000043                        12                       21
105001000078                         3                       13
105001000094                         0                       12
...                                ...                      ...
499760001109                         7                        4
499760001125                         4                        0
499773000187                         1                        0
499773000322                         1                        0
499773000683                         1                        0

[52166 rows x 2 columns]